<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}ANOTHER BURGER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">REMOVE THE BURGER!</button>
</li>
